{% import "macros" as m %}

{% extends "base" %}

{% block content %}
  <div class="container">
    <h3>{{ header }}</h3>
    <p>{{ content }}</p>
    <a href="/">&lt; Go back</a>
  </div>
{% endblock content %}
<!DOCTYPE html>